<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  	<extension-point id="MGWizard" name="MGWizard" schema="schema/MGWizard.exsd"/>
   
   <extension  
          id="org.minigui.eclipse.cdt.mstudio.project.MgProjectNature"  
          point="org.eclipse.core.resources.natures">  
     <runtime>  
         <run class="org.minigui.eclipse.cdt.mstudio.project.MgProjectNature"/>  
     </runtime> 
   </extension>
       	
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewMiniGUIWizardsCategory.name"
            id="org.minigui.eclipse.cdt.mstudio.newMiniGUIWizards">
      </category>
      <wizard
            category="org.minigui.eclipse.cdt.mstudio.newMiniGUIWizards"
            class="org.minigui.eclipse.cdt.mstudio.wizards.NewMiniGUIAppWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/mgproject.gif"
            id="org.minigui.eclipse.cdt.mstudio.wizards.newMiniGUIAppWizard"
            name="%MiniGUIAppProject">
         <description>
            %MiniGUIAppProject.desc
         </description>
      </wizard>
      <wizard
            category="org.minigui.eclipse.cdt.mstudio.newMiniGUIWizards"
            class="org.minigui.eclipse.cdt.mstudio.wizards.NewMiniGUIUIFileWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/newfile_wiz.gif"
            id="org.minigui.eclipse.cdt.mstudio.wizards.UIFileCreationWizard"
            name="%newMiniGUIWizards.uifile">
         <description>
            %NewMiniGUIWizards.uifile.desc
         </description>
      </wizard>
   </extension>

  	<extension
        id="MiniGUITemplateEngineWizard"
        name="MiniGUITemplate.Engine.Wizard"
        point="org.minigui.eclipse.cdt.mstudio.MGWizard">
     	<wizard
            class="org.minigui.eclipse.cdt.mstudio.template.TemplateMGNewWizard"
            name="MiniGUITemplate.Wizard">
     	</wizard>
  	</extension>
		
   <extension
         id="org.minigui.eclipse.cdt.mstudio.project"
         name="minigui"
         point="org.eclipse.cdt.managedbuilder.core.buildProperties">
         
     <propertyType id="org.minigui.eclipse.cdt.mstudio.projectType" name="MiniGUI project"/>
     
     <propertyValue 
         property="org.minigui.eclipse.cdt.mstudio.projectType" 
         id="org.eclipse.cdt.build.core.buildArtefactType.exe" 
         name="MiniGUI Project"/>	
  	</extension> 
  	
  	<extension 
         point="org.eclipse.cdt.core.templates">
      <template
            id="org.minigui.eclipse.cdt.mstudio.templates.EmptyMiniGUIAppProject"
            location="templates/projecttemplates/EmptyMiniGUIAppProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template>
     	<template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIMainWinProject"
            location="templates/projecttemplates/MiniGUIMainWinProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template>
     	<template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIDialogProject"
            location="templates/projecttemplates/MiniGUIDialogProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template>
     	<template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIServerProject"
            location="templates/projecttemplates/MiniGUIServerProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template>
  	</extension>
  	
  	<extension
         point="org.eclipse.ui.preferencePages">
     	<page
            class="org.minigui.eclipse.cdt.mstudio.preferences.MStudioPreferencePage"
            id="org.minigui.eclipse.cdt.mstudio.preferences.MStudioPreferencePage"
            name="MiniGUI"/>
  	</extension>
  	
  	<extension
         point="org.eclipse.ui.propertyPages">
     <page
            class="org.minigui.eclipse.cdt.mstudio.properties.MStudioPropertyPage"
            id="org.minigui.eclipse.cdt.mstudio.properties.MStudioProperyPage"
            name="MiniGUI Properties">
			  <filter name="nature" value="org.minigui.eclipse.cdt.mstudio.project.MgProjectNature"/>
	   </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="mui"
            id="org.minigui.eclipse.cdt.mstudio.uitype"
            name="%MStudio.contenttype.ui"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="mui"
            id="org.minigui.eclipse.cdt.mstudio.UIEditorLauncher"
            launcher="org.minigui.eclipse.cdt.mstudio.editor.UIEditorLauncher"
            name="%MStudioUIeditor.name">
         <contentTypeBinding
               contentTypeId="org.minigui.eclipse.cdt.mstudio.uitype">
         </contentTypeBinding>
      </editor>
   </extension>
   

 
</plugin>
