<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  	<extension-point id="MGWizard" name="%extension-point.name" schema="schema/MGWizard.exsd"/>
   
   <extension  
          id="org.minigui.eclipse.cdt.mstudio.project.MgProjectNature"  
          point="org.eclipse.core.resources.natures">  
     <runtime>  
         <run class="org.minigui.eclipse.cdt.mstudio.project.MgProjectNature"/>  
     </runtime> 
   </extension>
       	
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%NewMiniGUIWizardsCategory.name"
            id="org.minigui.eclipse.cdt.mstudio.newMiniGUIWizards">
      </category>
      <wizard
            category="org.minigui.eclipse.cdt.mstudio.newMiniGUIWizards"
            class="org.minigui.eclipse.cdt.mstudio.wizards.NewMiniGUIAppWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/mgproject.gif"
            id="org.minigui.eclipse.cdt.mstudio.wizards.newMiniGUIAppWizard"
            name="%MiniGUIAppProject">
         <description>%MiniGUIAppProject.desc</description>
      </wizard>
   </extension>

  	<extension
        id="MiniGUITemplateEngineWizard"
        name="MiniGUITemplate.Engine.Wizard"
        point="org.minigui.eclipse.cdt.mstudio.MGWizard">
     	<wizard
            class="org.minigui.eclipse.cdt.mstudio.template.TemplateMGNewWizard"
            name="MiniGUITemplate.Wizard">
     	</wizard>
  	</extension>
		
   <extension
         id="org.minigui.eclipse.cdt.mstudio.project"
         name="%extension.name"
         point="org.eclipse.cdt.managedbuilder.core.buildProperties">
         
     <propertyType id="org.minigui.eclipse.cdt.mstudio.projectType" name="%propertyType.name"/>
     
     <propertyValue 
         property="org.minigui.eclipse.cdt.mstudio.projectType" 
         id="org.eclipse.cdt.build.core.buildArtefactType.exe" 
         name="%propertyValue.name"/>	
  	</extension> 
  	
  	<extension 
         point="org.eclipse.cdt.core.templates">

     	<template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIProjectWithNcs"
            location="templates/projecttemplates/MiniGUIProjectWithNCS/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
      </template>
      <template
            id="org.minigui.eclipse.cdt.mstudio.templates.EmptyMiniGUIAppProject"
            location="templates/projecttemplates/EmptyMiniGUIAppProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
      </template>
     	<!--template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIMainWinProject"
            location="templates/projecttemplates/MiniGUIMainWinProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template>
     	<template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIDialogProject"
            location="templates/projecttemplates/MiniGUIDialogProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template>
     	<template
            id="org.minigui.eclipse.cdt.mstudio.templates.MiniGUIServerProject"
            location="templates/projecttemplates/MiniGUIServerProject/template.xml"
            filterPattern=".*"
            projectType="org.minigui.eclipse.cdt.mstudio.projectType">
     	</template-->
  	</extension>
  	
  	<extension
         point="org.eclipse.ui.preferencePages">
     	<page
            class="org.minigui.eclipse.cdt.mstudio.preferences.MStudioPreferencePage"
            id="org.minigui.eclipse.cdt.mstudio.preferences.MStudioPreferencePage"
            name="%page.name"/>
  	</extension>
  	
  	<extension
         point="org.eclipse.ui.propertyPages">
     <page
            class="org.minigui.eclipse.cdt.mstudio.properties.MStudioPropertyPage"
            id="org.minigui.eclipse.cdt.mstudio.properties.MStudioProperyPage"
            name="%page.name.0">
			  <filter name="nature" value="org.minigui.eclipse.cdt.mstudio.project.MgProjectNature"/>
	   </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="project"
            id="org.minigui.eclipse.cdt.mstudio.mrctype"
            name="%MStudio.contenttype.mrc"
            priority="high">
      </content-type>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="project"
            id="org.minigui.eclipse.cdt.mstudio.MrcEditorLauncher"
            launcher="org.minigui.eclipse.cdt.mstudio.editor.MrcEditorLauncher"
            name="%MStudioMRCeditor.name">
         <contentTypeBinding
               contentTypeId="org.minigui.eclipse.cdt.mstudio.mrctype">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="org.minigui.eclipse.cdt.mstudio.updatechecks"
               label="%MStudioUpdateChecks.name"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.minigui.eclipse.cdt.mstudio.MStudioCheckHandler"
            commandId="org.minigui.eclipse.cdt.mstudio.updatechecks">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.help"
            id="org.minigui.eclipse.cdt.mstudio.updatechecks"
            name="%MStudioUpdateCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.minigui.eclipse.cdt.mstudio.exportcategory"
            name="%MStudioExportWizardCategory.name">
      </category>
      <wizard
            category="org.minigui.eclipse.cdt.mstudio.exportcategory"
            class="org.minigui.eclipse.cdt.mstudio.wizards.MStudioDeployWizard"
            icon="icons/deploy_wiz.gif"
            id="org.minigui.eclipse.cdt.mstudio.deploywizard"
            name="%MStudioDeployWizard.name">
            <description>
            %MStudioDeployWizard.description
            </description>
      </wizard>
   </extension>

 
</plugin>
